// Base
@use 'base/variables' as *;
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';
@use 'base/buttons';
@use 'base/utilities';
@use 'base/nav';
@use 'base/footer';

// Pages
@use 'pages/home';
@use 'pages/shop';
@use 'pages/product';
@use 'pages/cart';
@use 'pages/about';
@use 'pages/contact';
