@use '../base/variables' as *;

// Contact page styles
.contact {
background-color: $neutral;

  .large_title{
    color: $blue-400;
    font-size: 30px;
  }
  h2{
    padding: 20px 0;
    color: $blue-400;
    span{
      color: $rust;
      }
    }

  .content p {
    font-family: $font-body;
    color: $dark;
    font-size: 16px;
    line-height: 1.5;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;

    input, textarea {
      font-family: $font-body;
      padding: 20px;
      border: 1px solid $rust;
      border-radius: 12px;
      font-size: 16px;
      background-color: $neutral;
      color: $dark;
      width: 100%;

      &::placeholder {
        color: lighten($dark, 40%);
      }
    }

    textarea {
      min-height: 200px;
      resize: vertical;
    }

    .btn {
      align-self: flex-end;
    }
  }
}

